
<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gestión de boletines</a>
</nav>
<div class="container">
	<h1 class="display-4 mt-5">Listado de boletines</h1>
	<div style="text-align: right;">
		<a href="/nuevo" class="btn btn-outline-dark m-3" >Nuevo</a>
		<table class="table table-hover ">
        <thead class="thead-dark">
          <tr>
            <th scope="col" class="text-left">Titulo</th>
            <th scope="col" class="text-left">Descripción</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <% boletines.forEach(function(boletin){  %>
          <tr>
            <td class="cursor-pointer text-left"><%= boletin.title %></td>
            <td class="cursor-pointer text-left"><%= boletin.description %></td>
            <td> 
            <!--   <form class="d-inline " action="/boletines/editar/<%= boletin.id %>" method="post">
                <input type="submit" value="Editar" class="btn btn-success">
              </form> -->
              <form class="d-inline " action="/boletines/<%= boletin.id %>" method="post">
                <input type="submit" value="Eliminar" class="btn btn-danger">
              </form>
            </td>
          </tr>
          <%}) %>   
        </tbody>
      </table>
	</div>

    </div>