<div class="container">
	<h1 class="display-4 mt-5 mb-5">Crear boletín</h1>
	<form method="post" action="/boletines" enctype="multipart/form-data">
	  <div class="form-group">
	    <label for="title">Titulo</label>
	    <input type="text" name="title" class="form-control" id="title" placeholder="Escribe el titulo de tu boletin">
	  </div>
	  <div class="form-group">
	    <label for="description">Descripcion</label>
	    <input type="text"  name="description" class="form-control" id="description" placeholder="Contenido del boletin">
	  </div>
	 <!--  <div class="form-group">
	    <label for="avatar">Imagen</label><br>
	    <input id="url" type="HIDDEN" name="url" value="url-value">
	    <input type="file" name="image"  id="avatar" multiple="multiple">
	  </div> -->
	  <input type="submit" value="Crear" class="btn btn-primary">
	</form>
</div>